{{> header}}

<!-- Home -->
<div class="content">
    <section class="js">
        <h2>JavaScript</h2>
        <div class="articles">
            {{#each jsArticles}}
            {{> article}}
            {{else}}
            <!-- No articles message -->
            <h3 class="no-articles">No articles yet</h3>
            {{/each}}
        </div>
    </section>
    <section class="CSharp">
        <h2>C#</h2>
        <div class="articles">
            {{#each cSharpArticles}}
            {{> article}}
            {{else}}
            <!-- No articles message -->
            <h3 class="no-articles">No articles yet</h3>
            {{/each}}
        </div>
    </section>
    <section class="Java">
        <h2>Java</h2>
        <div class="articles">
            {{#each javaArticles}}
            {{> article}}
            {{else}}
            <!-- No articles message -->
            <h3 class="no-articles">No articles yet</h3>
            {{/each}}
        </div>
    </section>
    <section class="Pyton">
        <h2>Pyton</h2>
        <div class="articles">
            {{#each pytonArticles}}
            {{> article}}
            {{else}}
            <!-- No articles message -->
            <h3 class="no-articles">No articles yet</h3>
            {{/each}}
        </div>
    </section>
</div>

{{> footer}}